<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>
    <%- include('../partials/sidebar') %>
      <main>
        <h1>
          <%= title %>
        </h1>
        <table class="sortable" id="combatSpecific">
          <thead>
            <tr>
              <th>Turn</th>
              <th>Name</th>
              <th>Turn</th>
              <th>Max HP</th>
              <th>HP</th>
              <th>AC</th>
              <th>Take Damage</th>
              <th>Heal</th>
            </tr>
          </thead>
          <tbody>
    <% combat.characters.sort((a,b) => b.initiative - a.initiative).forEach(char => { %>
      <tr>
        <td>
          <form id="initiative" action="/characters/<%= char._id %>/setInit?_method=PATCH" method="POST">
              <input id="initRoll" type="number" name="initiative">
            <button id="submitCombat" type="submit">✨</button>
            </form>
        </td>
      <td>
        <%= char.name %>
      </td>
      <td>
        <%= char.initiative %>
      </td>
      <td>
        <%= char.hitPoints %>
      </td>
      <td>
        <%= char.currentHP %>
      </td>
      <td>
        <%= char.armorClass %>
      </td>
      <td>
        <form id="damage" action="/characters/<%= char._id %>/takeDamage?_method=PATCH" method="POST">
            <input id="initRoll" type="number" name="currentHP">
          <button id="submitCombat" type="submit">-</button>
          </form>
      </td>
      <td>
        <form id="heal" action="/characters/<%= char._id %>/heal?_method=PATCH" method="POST">
            <input id="initRoll" type="number" name="heal">
          <button id="submitCombat" type="submit">+</button>
          </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
        <form id="combatForm" action="/combats/<%= combat._id %>/characters" method="POST">
          <select class="form-select-lg mb-3" name="charId">
            <% characters.forEach(char => { %>
              <option value="<%= char._id %>"><%= char.name %></option>
            <% }) %>
          </select>
          </label><br>
          <button id="submitCombat" type="submit">Add to Combat</button>
        </form>
      </form>
      </main>
      <%- include('../partials/footer') %>