<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <%- include('../partials/sidebar') %>
      <main>
        <h1>
          <%= title %>
        </h1>
        <table class="sortable" id="combatSpecific">
          <thead>
            <tr>
              <th>Name</th>
              <th>HP Max</th>
              <th>Turn</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
  <div>Characters</div>
  <ul>
    <% combat.characters.forEach(char => { %>
      <div><%= char.name %></div>
    <% }) %>
  </ul>
        <form id="combatForm" action="/combats/<%= combat._id %>/characters" method="POST">
          <select name="charId">
            <% characters.forEach(char => { %>
              <option value="<%= char._id %>"><%= char.name %></option>
            <% }) %>
          </select>
          </label><br>
          <label>Initiative:
            <input id="initiativeRoll" type="text" name="initiative">
          </label><br>
          <button id="submitCombat" type="submit">Add to Combat</button>
        </form>
      </main>
      <%- include('../partials/footer') %>