<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/sidebar') %>
<main>
<h1><%= title %></h1>
<table id="combatSpecific">
<thead>
  <tr>
    <th>Name</th>
    <th>AC</th>
    <th>HP Max</th>
    <th>HP</th>
    <th>Turn</th>
  </tr>
</thead>
<tbody>
  <% combat.instances.forEach(function(instance) { %>
  <tr>
  <td><%= instance.name %></td>
  <td><%= instance.armorClass %></td>
  <td><%= instance.hitPointsMax %></td>
  <td><%= instance.hitPoints %></td>
  <td><%= instance.initiative %></td>
</tr>
  <% }) %>

  </tbody>
</table>
<form id="combatForm" action="/combats/<%= combat._id %>/instances" method="POST">
  <label>Name:
      <select id="classChar" name="characters">
      <% character.forEach(function(character) { %>
        <option value="<%= character.name%>"><%= character.name %></option>
      <% }) %>
    </select>
  </label><br>
  <label>Initiative:
    <input id="initiativeRoll" type="text" name="initiative">
  </label><br>
  <label>Armor Class:
    <input id="AC" type="text" name="armorClass">
  </label><br>
  <label>Max Hit Points:
    <input id="maxHP" type="text" name="hitPointsMax">
  </label><br>
  <label>Current Hit Points:
    <input id="curHP" type="text" name="hitPoints">
  </label><br>
  <button id="submitCombat" type="submit">Add to Combat</button>
</form>
</main>
<%- include('../partials/footer') %>