<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <table id="charStat">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>AC</th>
      <th>Strength</th>
      <th>Dexterity</th>
      <th>Constitution</th>
      <th>Intelligence</th>
      <th>Wisdom</th>
      <th>Charisma</th>
    </tr>
  </thead>
  <tbody>
    <td><%= character.name %></td>
    <td><%= character.class %></td>
    <td><%= character.armorClass %></td>
    <td><%= character.str %></td>
    <td><%= character.dex %></td>
    <td><%= character.con %></td>
    <td><%= character.int %></td>
    <td><%= character.wis %></td>
    <td><%= character.cha %></td>
    </tbody>
</table>
      <h2>Spells</h2>
      <form 
        id="add-spell-form"
        action="/characters/<%= character._id %>/spells"
        method="POST"
      >
      <label>Spell Name:
        <input type="text" name="name">
      </label><br>
      <label>Spell Effect:
        <input type="text" name="effect">
      </label><br>
        <button type="submit">Add Spell</button>
      </form>
      <% if (character.spells.length) { %>
        <table id="spellDetails">
          <thead>
            <tr>
              <th>Spell Name</th>
              <th>Spell Effect</th>
            </tr>
          </thead>
          <tbody>
            <% character.spells.forEach(function(spell) { %>
              <tr>
                <td><%= spell.name %></td>
                <td><%= spell.effect %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <h3>This character has no spells</h3>
      <% } %>
      <form 
      id="weaponName"
      action="/characters/<%= character._id %>/weapons"
      method="POST"
    >
      <label id="weaponName">Weapon Name:
        <input type="text" name="weapon">
      </label><br>
      <label>Damage:
        <input type="text" name="damage">
      </label><br>
        <button type="submit">Equip Weapon</button>
      </form>
      <% if (character.weapons.length) { %>
        <table id="weaponDetails">
          <thead>
            <tr>
              <th>Weapon</th>
              <th>Damage</th>
            </tr>
          </thead>
          <tbody>
            <% character.weapons.forEach(function(weapon) { %>
              <tr>
                <td><%= weapon.weapon %></td>
                <td><%= weapon.damage %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <h3>This character has no weapons</h3>
      <% } %>
      <% if (character.owner.equals(user?.profile._id)) { %>
      <a href="/characters/<%= character._id %>/edit">
        <button class="btn" type="submit">Edit Character</button>
      </a>
      <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete Character</button>
        </form>
        <% } %>
</main>
<%- include('../partials/footer') %>